# Ignore MySQL socket and database files
django-notes-app/data/mysql/db/mysql.sock
django-notes-app/data/mysql/db/auto.cnf
django-notes-app/data/mysql/db/binlog.index
django-notes-app/data/mysql/db/ib_buffer_pool

# Ignore all log files
*.log

# Ignore node_modules (if it's a JavaScript or Node.js project)
node_modules/

# Ignore Python bytecode files
*.pyc
*.pyo

# Ignore Django migrations (optional, depending on your needs)
**/migrations/

# Ignore virtual environment directories (if you're using one)
venv/
env/
